<section>
	{% for post in postslist | reverse %}
		{% set post = post %}
		<h3>{{ post.data.componentType }}</h3>
		{% if post.data.componentType == "Basic Blog Post" %}
			{% include "components/basic-blog-post.njk" %}
  	{% endif %}

		{% if post.data.componentType == "Image Hero" %}
			{% include "components/image-hero.njk" %}
  	{% endif %}

		{% if post.data.componentType == "Hero" %}
			{% include "components/hero.njk" %}
  	{% endif %}
	{% endfor %}
</section>
